/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.6rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(16, 80%, 55%);
  --second-color: hsl(27, 95%, 50%);
  --gradient-color: linear-gradient(
    75deg,
    var(--second-color) 12%,
    var(--first-color) 90%
  );
  --first-color-light: hsl(40, 94%, 60%);
  --first-color-dark: hsl(38, 70%, 54%);
  --title-color: hsl(26, 7%, 10%);
  --text-color: hsl(32, 12%, 23%);
  --text-color-light: hsl(32, 12%, 34%);
  --white-color: hsl(40, 18%, 90%);
  --body-color: hsl(5, 50%, 98%);
  --container-color: hsl(0, 75%, 94%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", verdana;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== Margenes ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-3: 1.3rem;
  --m-1-5: 1.5rem;
  --m-2-75: 2.75rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2.8rem;
    --h1-font-size: 2.18rem;
    --h2-font-size: 1.38rem;
    --h3-font-size: 1.22rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 80%;
  margin-inline: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 1rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  margin-bottom: var(--m-1-5);
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-item{
  justify-content: space-between;
}

.text-decor{
  text-decoration: none;
  color: white;
}
.main {
}

/*=============== HEADER & NAV ===============*/

/* Navigation for mobile devices */

/* Show menu */

/* Add blur to header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTON ===============*/

/*=============== SERVICES ===============*/

/*=============== ALL OPTIONS===============*/

/*=============== TESTIMONIALS ===============*/
#Testimonials{
  width: 100%;
}

.first-text{
  min-height: 10vh;
}

.first-text{
  padding-top: var( --m-1);
  text-align: center;
  margin-bottom: var(--m-3);
}

.first-text h3{
font-size: var(--big-font-size);
}

.first-text span{
  color: var(--first-color)
}

.for-box{
  min-height: 20vh;
  width: 100%;
}

.box{
  width: 30%;
  background-color: var(--second-color);
  text-align: center;
  align-items: center;
  padding: var(--m-1);
  height: fit-content;
}

.box h6{
font-size: var(--h3-font-size);
margin-bottom: var(--m-0-75);
}

.box p{
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--m-1);
}

.neverfelt{
  margin-top: var(--m-3);
  justify-content: space-between;
}

.neverfelt .leftsec{
  margin-top: var(--m-3);
  width: 50%;
}

.neverfelt .leftsec h4{
  margin-top: var(--m-3);
  font-size: var(--h1-font-size);
  margin-bottom: var(--m-0-75);
}

.neverfelt .leftsec span{
  color: var(--second-color);
}

.neverfelt .leftsec h5{
  font-size: var(--h2-font-size);
  margin-bottom: var(--m-0-5);
}

.neverfelt .leftsec p{
  width: 80%;
  font-size: var(--normal-font-size);
  margin-bottom: var(--m-2);
}

.download .btn1{
   margin-right: var(--m-2);
}

button{
  background-color: var(--second-color);
  padding-top: var(--m-1);
  padding-bottom: var(--m-1);
  padding-right: var(--m-1);
  padding-left: var(--m-0-5);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  border-radius: var(--m-0-25);
  font-size: var(--small-font-size);
}

button:hover{
  color: var(--body-color);
  background-color: var(--text-color);
  transition: 2s;
  padding-left: var(--m-1-3);
  padding-right: var(--m-1-3);
} 

.neverfelt .rightsec{
  width: 50%;
}


.mainb {
  margin-bottom: var(--m-2);
  height: 30.875rem;
  background-image: url('../img/Untitled-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mainb img{
height: 90%;
}

/*=============== SPECIAL ===============*/

/*=============== JOIN ===============*/
.join {
  background-color: #e09fc0;
}

.box-container{
   width: 25%;
   height: fit-content;
   text-align: center;
   align-items: center;
   padding: var(--m-1-5);
   background-color: var(--body-color);
   margin-bottom: var(--m-3);
}

.box-container h4{
font-size: var(--h2-font-size);
font-weight: bolder;
margin-bottom: var(--m-0-25);
}

.bcircle{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
 outline: 2px solid rgb(247, 134, 5);
 margin-left: auto;
 margin-right: auto;
 margin-bottom: var(--m-2);
}

.textsec p{
font-size: var(--small-font-size);
}

.ahem{
  background-color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--small-font-size);
  margin-top: var(--m-0-75);
  border: 2px solid orange;
}

.ahem:hover{
transition: 3s;
padding: 15px 25px 15px 25px;
background-color: var(--text-color);
border: 1px solid var(--second-color-light);
}

.ahem a{
  margin-left: 15px;
  margin-right: 15px;
  color: var(--first-color);
}

.ahem a:hover{
  color: var(--body-color);
}

/*=============== FAX ===============*/
.text h1{
  margin-top: var(--m-3);
  margin-bottom: var(--m-3);
  color: var(--first-color);
  font-size: var(--h1-font-size);
}

.order1{
  width: 48%;
box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 0 rgba(0, 0, 0, 0.19);
padding:var(--m-0-75);
margin-bottom: var(--m-3);
}

.order1 h4{
  margin-left: auto;
  margin-top: var(--m-0-25);
  font-weight: 900;
}
/*=============== FOOTER ===============*/
.footer{
  background-color: var(--title-color);
  color: var(--body-color);
  border-bottom: 2px solid grey;
  padding-top: var(--m-3);
  padding-bottom: var(--m-3);

}


.anotherfoot{
  background-color: var(--title-color);
  padding: var(--m-0-75);
  
}

.secondfooter{
  text-align: center;
  color: var(--body-color);
}

.secondfooter h4{
  color:var(--body-color);
}

.secondfooter span{
  color: var(--first-color);
}

.food, .about , .social{
  width: 27%;
}

.food h4{
font-size: var(--h1-font-size);
font-family:Verdana, Geneva, Tahoma, sans-serif

}

.food p{
  font-size: var(--small-font-size);
}

.fr{
  background-color: var(--body-color);
  width: fit-content;
  color: var(--title-color);
  margin-bottom: var(--m-2);
}

.fr span{
  color: var(--first-color);
}

.about ul{
list-style: none;
text-align: center;
}

.about ul li{
  margin-top: var(--m-0-75);
}

.about a{
  text-decoration: none;
  color: var(--body-color);
  font-size: var(--normal-font-size);
  padding-top: 0px;
}

.social{
  text-align: center;
}

.social h5{
  margin-bottom: var(--m-0-75);
}

.alltint{
  margin-left: var(--m-3);
}

.social .circle-2{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--first-color);
}

.circle-2 {
text-align: center;
padding-top: var(--m-0-5);
margin-left: var(--m-0-75);
}

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
.flex-column{
 flex-direction: column;
}
 .box{
  width: 100%;
  margin-bottom: 1rem;
 }

.neverfelt .leftsec-sm{
  width: 100%;
  margin-top: 2rem;
}

.neverfelt .leftsec h4{
  font-size: 1.5rem;
}

.neverfelt .leftsec h5{
  font-size: 1rem;
}

.neverfelt .leftsec p{
  font-size: 0.7rem;
  width: 100%;
}

.neverfelt .rightsec{
  width: 100%;
}

.mainb{
  height: 100vh;
  margin-bottom: 0px;
}

.workbox{
  width: 100%;
}

.box-container{
  width: 100%;
}

.first-text{
  margin-bottom: 2rem;
}

.first-text h3{
  font-size: 1.5rem;
}

.order1{
  width: 100%;
}

/*
.order1 h3{
  font-size:  1rem;
}
*/
.footer{
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.food, .about, .social{
  width: 100%;
}

.food p{
  font-size: 0.7rem;
}

.about ul {
  text-align: left;
}

.alltint{
  margin-left: 0;
  justify-content: center;
}

}

/* For medium devices */
@media screen and (min-width: 568px) {
}

@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
